
.header-livros{
    background-color: aqua;
}

h1{
    text-transform: uppercase;
    padding-left: 110px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.title{
    display: flex;
    flex-wrap: nowrap;
}

.card{
    margin-top: 10px; 
    margin-bottom: 20px;
}

.button-edit{
   margin-left: 10px; 
   width: 90px;
}